*{
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}
/* header start */
.banner{
    display: flex;
    align-items: right;
    background-image: url('images/banner/banner3.png');
    width: 100%;
    height: 808px;
    margin-bottom:20px;
}
.banner-right{
    width: 40%;
    margin-top: 200px;
    margin-right: 200px ;
    color: white;
    text-align: right;
    
}
.banner-right h2{
    margin-bottom: 30px;
    font-size: 65px;
}
.banner button{

    width: 160px;
    height: 64px;
    font-size: 20px;
    margin-left: 400px;
    color: #005fac;
}
.banner-right p{
    font-size: 16px;
    margin-bottom: 20px;
}
/* header end */


/* main start */
.container{
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 220px;
    margin-top: 100px;
}
/* main start */
/* failure section  start */
.section-failure{
    width: 429px;
    height: 392px;
    
}
.section-failure p{
    margin: 20px;
}
.section-failure ul li{
    list-style: url('images/icons/check.png');
    margin-left: -18px;
}
.section-heading{
    font-weight: 700;
    font-size: 40px;
}

.section-img{
    background-image: url('images/person.png');
    width: 569px;
    height: 732px;
}
/* failure section end */


.plans{
    display: flex;
    align-items: center;
    margin: 30px 270px;
}
.plheading h3{
    font-weight: 700;
    font-size: 40px;
    margin:30px 0 ;
    text-align: center;
}
.cards{
    margin-right: 25px;
    text-align: center;
}
 
.cards img{
    width: 92px;
    height: 92px;
    
}
.cards h5{
    font-weight: 700;
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 16px;
}
/* positive section start */
/* .positive{
    background:linear-gradient(to right, rgba(0,95,172,0.7), rgba(0,95,172,.3)), url('images/watch.png');
    width: 1140px;
    height: 300px;
    margin-bottom:20px;
    
}
.positive-left{
    
    margin:40px;
    color: white;
    
} 

.positive button{
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(0, 95, 172);
}
.positive h2{
    font-weight: 700;
    font-size: 40px;
    margin-top: 100px;  
} */
/* positive section end */
.positive{
    background:linear-gradient(to right, rgba(0,95,172,0.7), rgba(0,95,172,.3)), url('images/watch.png');
    width: 1100px;
    height: 300px;
    align-items: center;

}
.positive h3{
    margin-top: 150px;
    margin-left: 120px;
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.positive button{
    margin-left: 120px;
    font-size: 25px;
    width: 164px;
    height: 64px;
    color:#005fac;
    background-color: white;
    margin-top: 20px;
}

/* main end */
/* footer start */
.footer{
    width: 1600px;
    background-color:  #151414;
    height: 577px;
    border: 1px solid red;
    color: white;
    display: flex;
    margin-top: 40px;

}
.card{
    margin-top: 130px;
    /* width: 485px; */
    margin-left: 230px;
    margin-right: 331px;
}
.card h3{
    font-weight: 700;
    font-size: 43px;
}
.subscribe{
    width: 325px;
    margin-top: 130px;
    margin-right: 225px;
    
}
.subscribe h6{
    font-weight: 400;
    font-size: 25px;
}
.subscribe button{
    width: 130px;
    height: 40px;
    font-size: 16px;
    display: block;
    background-color: #005fac;
    margin-left: 1px;
    margin-top: 10px;
    color: white;
}
.email{
   width: 200px; 
   height: 40px;
   color: white;
   background-color: #151414;
   padding: 5px;
   margin-top: 10px;
}
.footer h3{
    margin-bottom: 10px;
}
.footer p{
    margin-bottom: 10px;
}
.social-icon ul{
    display: flex;
    align-items: left;
    margin-left: -55px;
}
.social-icon ul li{
    list-style: none;
    margin: 10px 15px;
}
/* footer end */